PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:3000
MONGO_URI=
JWT_SECRET=
JWT_EXPIRES_IN=7d
JWT_COOKIE_EXPIRES_DAYS=7
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_EMAIL=
SMTP_PASSWORD=
FROM_NAME=UrbanThread
FROM_EMAIL=
ADMIN_EMAIL=
ADMIN_PASSWORD=
